body {
  background-image: linear-gradient(#615dad, #ffc8da);
  background-attachment: fixed;
  color: white;
  line-height: 1.5;
  margin: 0;
}

h1 {
  font-family: 'Lobster';
}

* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5% 0;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 30%;
  text-align: center;
}

.header-piskvorky {
  width: 100%;
  border-radius: 2% 2% 0 0;
}

.pravidla {
  background-color: #283e50;
  padding: 3%;
}

.button-pravidla {
  background-color: #1fcca4;
  border-bottom: 1px solid black;
}

.button-zacithrat {
  background-color: #0197f6;
}

.tlacitko a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 1%;
}

.button-pravidla:hover {
  background-color: #1cbb96;
}

.button-zacithrat:hover {
  background-color: #0090e9;
}

.pravidla-podrobne {
  background-color: #283e50;
  padding: 3%;
  display: flex;
  flex-wrap: wrap;
}

.pravidla-podrobne ol {
  text-align: left;
}

.pravidla-podrobne figure {
  margin: 0;
  padding: 5px;
  width: 50%;
}

.pravidla-podrobne figure img {
  width: 100%;
}

.icons {
  width: 1em;
  height: 1em;
}

.icons.icon-inverted {
  filter: invert(100%);
}

@media (max-width: 1366px) {
  .pravidla-podrobne figure {
    width: 50%;
  }
  .flex-container {
    width: 40%;
  }
}

@media (max-width: 768px) {
  .pravidla-podrobne figure {
    width: 100%;
  }
  .flex-container {
    width: 95%;
  }
}
